In [28]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import category_encoders as ce

In [29]:
data = {'TransactionID':['1','2','3','4','5'], 'ClientID':['231','765','453','231','892'],'Profession':['Self-Employed','students','Horeca','Self-Employed','finance'],'Bank_dep':['009','005','007','009','003'],'Risk':['high','high','medium','high','low'],'Number of credits':['2','3','5','2','3'],'Revenue':['30200','12700','89400','30200','740000']}

In [30]:
df = pd.DataFrame(data)
df

,TransactionID,ClientID,Profession,Bank_dep,Risk,Number of credits,Revenue
0,1,231,Self-Employed,009,high,2,30200
1,2,765,students,005,high,3,12700
2,3,453,Horeca,007,medium,5,89400
3,4,231,Self-Employed,009,high,2,30200
4,5,892,finance,003,low,3,740000

In [31]:
pd.get_dummies(df)

,TransactionID_1,TransactionID_2,TransactionID_3,TransactionID_4,TransactionID_5,ClientID_231,ClientID_453,ClientID_765,ClientID_892,Profession_Horeca,...,Risk_high,Risk_low,Risk_medium,Number of credits_2,Number of credits_3,Number of credits_5,Revenue_12700,Revenue_30200,Revenue_740000,Revenue_89400
0,1,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
1,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,1,0,0,0
2,0,0,1,0,0,0,1,0,0,1,...,0,0,1,0,0,1,0,0,0,1
3,0,0,0,1,0,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,1,0

In [32]:
encoder = ce.BaseNEncoder(df)
df

,TransactionID,ClientID,Profession,Bank_dep,Risk,Number of credits,Revenue
0,1,231,Self-Employed,009,high,2,30200
1,2,765,students,005,high,3,12700
2,3,453,Horeca,007,medium,5,89400
3,4,231,Self-Employed,009,high,2,30200
4,5,892,finance,003,low,3,740000

In [33]:
encoder = ce.BaseNEncoder(cols=["Profession","Risk"])
encoder.fit(df)
df1 = encoder.transform(df)
df1

,TransactionID,ClientID,Profession_0,Profession_1,Profession_2,Bank_dep,Risk_0,Risk_1,Number of credits,Revenue
0,1,231,0,0,1,009,0,1,2,30200
1,2,765,0,1,0,005,0,1,3,12700
2,3,453,0,1,1,007,1,0,5,89400
3,4,231,0,0,1,009,0,1,2,30200
4,5,892,1,0,0,003,1,1,3,740000

In [34]:
encoder = ce.BinaryEncoder(cols=["Profession","Risk"])
encoder.fit(df)
df2 = encoder.transform(df)
df2

,TransactionID,ClientID,Profession_0,Profession_1,Profession_2,Bank_dep,Risk_0,Risk_1,Number of credits,Revenue
0,1,231,0,0,1,009,0,1,2,30200
1,2,765,0,1,0,005,0,1,3,12700
2,3,453,0,1,1,007,1,0,5,89400
3,4,231,0,0,1,009,0,1,2,30200
4,5,892,1,0,0,003,1,1,3,740000

In [36]:
encoder = ce.BackwardDifferenceEncoder(cols=["Profession","Risk"])
encoder.fit(df)
df_cleaned = encoder.transform(df)
df_cleaned

,intercept,TransactionID,ClientID,Profession_0,Profession_1,Profession_2,Bank_dep,Risk_0,Risk_1,Number of credits,Revenue
0,1,1,231,-0.75,-0.5,-0.25,009,-0.666667,-0.333333,2,30200
1,1,2,765,0.25,-0.5,-0.25,005,-0.666667,-0.333333,3,12700
2,1,3,453,0.25,0.5,-0.25,007,0.333333,-0.333333,5,89400
3,1,4,231,-0.75,-0.5,-0.25,009,-0.666667,-0.333333,2,30200
4,1,5,892,0.25,0.5,0.75,003,0.333333,0.666667,3,740000

In [38]:
df

,TransactionID,ClientID,Profession,Bank_dep,Risk,Number of credits,Revenue
0,1,231,Self-Employed,009,high,2,30200
1,2,765,students,005,high,3,12700
2,3,453,Horeca,007,medium,5,89400
3,4,231,Self-Employed,009,high,2,30200
4,5,892,finance,003,low,3,740000

In [52]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['Profession']= label_encoder.fit_transform(df['Profession'])
df['Profession'].unique()

array([1, 3, 0, 2])

In [64]:
ce.ordinal.OrdinalEncoder(verbose=0, mapping=None, cols=df['Profession'], drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value')

OrdinalEncoder(cols=0    1
1    3
2    0
3    1
4    2
Name: Profession, dtype: int64)

In [65]:
emp1 = ce.ordinal.OrdinalEncoder(verbose=0, mapping=None, drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value')
emp1.fit(df['Profession'])
emp1.transform(df['Profession'])

Warning: No categorical columns found. Calling 'transform' will only return input data.

   Profession
0           1
1           3
2           0
3           1
4           2

In [61]:
emp =ce.glmm.GLMMEncoder(verbose=0, drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value', random_state=None, randomized=False, sigma=0.05, binomial_target=None)
emp.fit(df['Risk'],df['Revenue'])
emp.transform(df['Risk'])

            Risk
0 -260127.928347
1 -260127.928347
2 -195023.921602
3 -260127.928347
4  455151.849949

In [58]:
df

,TransactionID,ClientID,Profession,Bank_dep,Risk,Number of credits,Revenue
0,1,231,1,009,high,2,30200
1,2,765,3,005,high,3,12700
2,3,453,0,007,medium,5,89400
3,4,231,1,009,high,2,30200
4,5,892,2,003,low,3,740000

In [66]:
ce.helmert.HelmertEncoder(verbose=0, cols=df['Revenue'] , mapping=None, drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value')

HelmertEncoder(cols=0     30200
1     12700
2     89400
3     30200
4    740000
Name: Revenue, dtype: object)

In [71]:
emp =ce.helmert.HelmertEncoder(verbose=0, mapping=None, drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value')
emp.fit(df['Revenue'], df['Risk'])
emp.transform(df['Revenue'])

   intercept  Revenue_0  Revenue_1  Revenue_2
0          1       -1.0       -1.0       -1.0
1          1        1.0       -1.0       -1.0
2          1        0.0        2.0       -1.0
3          1       -1.0       -1.0       -1.0
4          1        0.0        0.0        3.0

In [78]:
emp = ce.quantile_encoder.SummaryEncoder(verbose=0, cols=df['Profession'] , drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', quantiles=(0.25, 0.75), m=1.0)
emp

SummaryEncoder(cols=0    1
1    3
2    0
3    1
4    2
Name: Profession, dtype: int64)

In [80]:
emp = ce.quantile_encoder.SummaryEncoder(verbose=0, drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', quantiles=(0.25, 0.75), m=1.0)
emp.fit(df['Profession'],df['Bank_dep'])
emp.transform(df['Profession'])

Warning: No categorical columns found. Calling 'transform' will only return input data.

   Profession
0           1
1           3
2           0
3           1
4           2

In [81]:
ce.polynomial.PolynomialEncoder(verbose=0, cols=df['Risk']  , mapping=None, drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value')

PolynomialEncoder(cols=0      high
1      high
2    medium
3      high
4       low
Name: Risk, dtype: object)

In [83]:
ce.woe.WOEEncoder(verbose=0, cols=df['Profession'], drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value', random_state=None, randomized=False, sigma=0.05, regularization=1.0)

WOEEncoder(cols=0    1
1    3
2    0
3    1
4    2
Name: Profession, dtype: int64)

In [86]:
ce.quantile_encoder.QuantileEncoder(verbose=0, cols=df['Revenue'], drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', quantile=0.5, m=1.0)

QuantileEncoder(cols=0     30200
1     12700
2     89400
3     30200
4    740000
Name: Revenue, dtype: object)

In [91]:
emp3 = ce.quantile_encoder.QuantileEncoder(verbose=0, drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', quantile=0.5, m=1.0)

emp3.fit(df['Revenue'], df['Profession'])
emp3.transform(df['Revenue'])

   Revenue
0      1.0
1      2.0
2      0.5
3      1.0
4      1.5

In [95]:
from category_encoders import wrapper

In [103]:
ce.wrapper.PolynomialWrapper(emp3)

PolynomialWrapper(feature_encoder=QuantileEncoder(cols=0    1
1    3
2    0
3    1
4    2
Name: Profession, dtype: int64))

In [121]:
emp10 = ce.target_encoder.TargetEncoder(verbose=0, cols=None , drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', min_samples_leaf=1, smoothing=1.0)
emp10.fit(df['Risk'], df['Profession'])
emp10.transform(df['Risk'])

/opt/anaconda3/lib/python3.9/site-packages/category_encoders/target_encoder.py:92: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
/opt/anaconda3/lib/python3.9/site-packages/category_encoders/target_encoder.py:97: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."

       Risk
0  1.634879
1  1.634879
2  1.400000
3  1.634879
4  1.400000

In [119]:
emp9 = ce.sum_coding.SumEncoder(verbose=0, mapping=None, drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value')
emp9.fit(df['Risk'], df['Profession'])
emp9.transform(df['Risk'])

   intercept  Risk_0  Risk_1
0          1     1.0     0.0
1          1     1.0     0.0
2          1     0.0     1.0
3          1     1.0     0.0
4          1    -1.0    -1.0

In [112]:
emp4 = ce.m_estimate.MEstimateEncoder(verbose=0,drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value', random_state=None, randomized=False, sigma=0.05, m=1.0)
emp4.fit(df['Risk'], df['Profession'])
emp4.transform(df['Risk'])

   Risk
0   1.6
1   1.6
2   0.7
3   1.6
4   1.7

In [113]:
emp5 = ce.leave_one_out.LeaveOneOutEncoder(verbose=0, drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value', random_state=None, sigma=None)
emp5.fit(df['Risk'], df['Profession'])
emp5.transform(df['Risk'])

       Risk
0  1.666667
1  1.666667
2  1.400000
3  1.666667
4  1.400000

In [115]:
emp6 = ce.hashing.HashingEncoder(max_process=0, max_sample=0, verbose=0, n_components=8, cols=None, drop_invariant=False, return_df=True, hash_method='md5')
emp6.fit(df['Risk'], df['Profession'])
emp6.transform(df['Risk'])

   col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0      0      0      0      1      0      0      0      0
1      0      0      0      1      0      0      0      0
2      0      0      0      1      0      0      0      0
3      0      0      0      1      0      0      0      0
4      0      0      0      0      0      0      0      1

In [116]:
emp7 = ce.count.CountEncoder(verbose=0, drop_invariant=False, return_df=True, handle_unknown='value', handle_missing='value', min_group_size=None, combine_min_nan_groups=None, min_group_name=None, normalize=False)
emp7.fit(df['Risk'], df['Profession'])
emp7.transform(df['Risk'])

   Risk
0     3
1     3
2     1
3     3
4     1

In [118]:
emp8 = ce.one_hot.OneHotEncoder(verbose=0, cols=None, drop_invariant=False, return_df=True, handle_missing='value', handle_unknown='value', use_cat_names=False)
emp8.fit(df['Risk'], df['Profession'])
emp8.transform(df['Risk'])

   Risk_1  Risk_2  Risk_3
0       1       0       0
1       1       0       0
2       0       1       0
3       1       0       0
4       0       0       1